
.designRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #941717;
    height: 100vh;
    cursor: pointer;


}

.botonSend {
    height: 2em;
    width: 7em;
    background-color: black;
    color: white;
    border-radius: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.4s;

}

.botonSend:hover {
    transition: 0.4s;
    transform: scale(1.1);
    background-color: rgba(133, 131, 131, 0.438);
    box-shadow: 0px 0px 15px 15px #000000;
    -webkit-box-shadow: 0px 0px 15px 15px #000000;
    /* transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */
}

.designBoton:hover {
    color: red;
}

#relleno1{
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    width: 14em;
}

#relleno2{
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    width: 14em;
}

#relleno3{
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    width: 14em;
}


