
.designLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #941717;
    height: 100vh;
    cursor: pointer;
}

.sendButton{
    height: 2.1em;
    width: 7em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.4s;
}

.sendButton:hover {
transition: 0.4s;
background-color: rgba(141, 6, 6, 0.438);
transform: scale(1.1);
box-shadow: 0px 0px 15px 15px #000000;
-webkit-box-shadow: 0px 0px 15px 15px #000000;
/* transform: rotate(360deg);
-webkit-transform: rotate(360deg); */
}

#relleno1{
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    width: 14em;
}

#relleno2{
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    width: 14em;
}